# Control Statements

Control statements are statements which control or change the flow of execution.

## The if statement

In [2]:
num = 1
if num == 1:
    print("One")

One

In [3]:
str = 'yes'
if str == 'yes':
    print("Yes")

Yes

## The if...else Statements

In [4]:
x = 10
if x%2 == 0:
    print(x," is even number")

else:
    print(x, " is Odd number")

10  is even number

In [7]:
x = int(input("Enter the number"))
if x%2 == 0:
    print(x," is even number")

else:
    print(x, " is Odd number")

Enter the number 236785

236785  is Odd number

In [9]:
x = int(input("Enter the number"))
if x>=1 and x<=10:
    print("You typed " , x , "Which is between 1 and 10")

else:
    print("You typed " , x , "Which is between below 1 or above 10")

Enter the number 6

You typed  6 Which is between 1 and 10

## The if ...elif ...else statement

In [19]:
num = -10
if num == 0:
    print(num , "is zero")
elif num > 0:
    print(num , " is positive ")
else:
    print(num , " is negative")

-10  is negative

In [21]:
num = int(input("Enter a number : " ))
if num == 0:
    print(num , "is zero")
elif num > 0:
    print(num , " is positive ")

else :
    print(num , " is negative")

Enter a number :  -756

-756  is negative

## The while Loop

In [22]:
x = 1
while x<=10:
    print(x)
    x += 1
print("End")

1
2
3
4
5
6
7
8
9
10
End

In [23]:
x = 1
while x<=10:
    print(x)
    x += 1
    print("End")

1
End
2
End
3
End
4
End
5
End
6
End
7
End
8
End
9
End
10
End

In [25]:
x = 100
while x>=100 and  x<=200:
    print(x)
    x += 2

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

In [29]:
m , n = [int(i) for i in input("Enter minimum and maximum range").split(',')]
x = m
if x%2 !=0 :
    x = x+1

while x>=m and x<=n:
    print(x)
    x +=2

Enter minimum and maximum range 11,20

12
14
16
18
20

## The for Loop

In [30]:
str = " Sohail "
for ch in str:
    print(ch)

S
o
h
a
i
l

In [31]:
str = " sohail "
n = len(str)
for i in range(n):
    print(str[i])

s
o
h
a
i
l

In [32]:
for i in range(1 , 10 , 2):
    print(i)

1
3
5
7
9

In [34]:
for x in range(10 , 0 , -1):
    print(x)

10
9
8
7
6
5
4
3
2
1

In [35]:
list = [10 , 20 , 'Sohail' , 'ANSARI']
for element in list:
    print(element)

10
20
Sohail
ANSARI

In [37]:
list = [ 10, 20, 30, 40 ,50]
sum = 0
for i in list:
    print(i)
    sum += i
print('Sum = ' , sum)

10
20
30
40
50
Sum =  150

In [38]:
list = [ 10 , 20 , 30 , 40 , 50]
sum = 0
i = 0
while i < len(list):
    print(list[i])
    sum += list[i]
    i += 1
print('Sum = ' , sum)

10
20
30
40
50
Sum =  150

## Nested Loops

In [41]:
for i in range(3):
    for j in range(4):
        print('i=' , i , '\t' , 'j=',j)

i= 0 	 j= 0
i= 0 	 j= 1
i= 0 	 j= 2
i= 0 	 j= 3
i= 1 	 j= 0
i= 1 	 j= 1
i= 1 	 j= 2
i= 1 	 j= 3
i= 2 	 j= 0
i= 2 	 j= 1
i= 2 	 j= 2
i= 2 	 j= 3

In [46]:
for i in range(1,11):
    for j in range(1 , i+1):
        print('* ' , end = '')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [48]:
for i in range(1 ,11):
    print('* ' *(i))

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [49]:
for x in range(1,11):
    for y in range(1,11):
        print(x*y , end = '')
    print()

12345678910
2468101214161820
36912151821242730
481216202428323640
5101520253035404550
6121824303642485460
7142128354249566370
8162432404856647280
9182736455463728190
102030405060708090100

In [52]:
for x in range(1,11):
    for y in range(1,11):
        print('{:8}'.format(x*y),end='') 
    print()

       1       2       3       4       5       6       7       8       9      10
       2       4       6       8      10      12      14      16      18      20
       3       6       9      12      15      18      21      24      27      30
       4       8      12      16      20      24      28      32      36      40
       5      10      15      20      25      30      35      40      45      50
       6      12      18      24      30      36      42      48      54      60
       7      14      21      28      35      42      49      56      63      70
       8      16      24      32      40      48      56      64      72      80
       9      18      27      36      45      54      63      72      81      90
      10      20      30      40      50      60      70      80      90     100

## The Else Suite

In [53]:
for i in range(5):
    print('Yes')
else:
    print('No')

Yes
Yes
Yes
Yes
Yes
No

In [57]:
group1 = [1 , 2 , 3 , 4 , 5]
search = int(input("Enter element to search : "))
for element in group1:
    if element == search:
        print("Element found in group1")
        break
else:
    print("Element not found in group1")

Enter element to search :  6

Element not found in group1

## The break Statement

In [58]:
x = 10
while x>=1:
    print('x = ' , x)
    x-=1
    if x==5:
        break
print("Out os Loop")

x =  10
x =  9
x =  8
x =  7
x =  6
Out os Loop

##  The continue Statement

In [64]:
x = 0
while x<10:
    x+=1
    if x>5:
        continue
    print('x= ' , x)
print("Out of Loop")

x=  1
x=  2
x=  3
x=  4
x=  5
Out of Loop

## The Pass Statement

In [65]:
x = 0
while x<10:
    x+=1
    if x>5:
        pass
    print('x= ' , x)
print("Out of Loop")

x=  1
x=  2
x=  3
x=  4
x=  5
x=  6
x=  7
x=  8
x=  9
x=  10
Out of Loop

In [66]:
num = [ 1 , 2 , 3 , -4 , -5 , -6 , -7 , 8 , 9 ]
for i in num:
    if (i>0):
        pass
    else:
        print(i)

-4
-5
-6
-7

## The assert Statement
The assert statement is used to check if a particular condition is fulfilled or not.

In [70]:
x = int(input('Enter a number greater than 0 : '))
assert x>0
print("You Entered : ",x)

Enter a number greater than 0 :  8

You Entered :  8

In [71]:
# Python program to handle AssertionError

x = int(input('Enter a number greater than 0 : '))
try:
   assert x>0
   print("You Entered : ",x)
except AssertionError:
    print("Wrong input Entered")

Enter a number greater than 0 :  -90

Wrong input Entered

## The return Statement

In [74]:
def sum(a,b):
    return a+b

res = sum(5,10)
print('The result is ', res)

The result is  15

In [79]:
#Write a program to print prime numbers upto a given number

max = int(input("Upto what number ? "))
for num in range(2, max+1):
    for i in range(2,num):
        if (num % i) == 0:
            break

    else:
        print(num)

Upto what number ?  30

2
3
5
7
11
13
17
19
23
29

In [83]:
# Program to display Fibonacci series

n = int(input('How many Fibonaccis ? '))
f1 = 0
f2 = 1
c = 2
if n == 1:
    print(f1)
elif n == 2:
    print( f1 , '\n' , f2 , sep='')
else:
    print( f1 , '\n' , f2 , sep='')
    while c<n:
        f = f1 + f2
        print(f)
        f1 , f2 = f2 , f
        c+=1

How many Fibonaccis ?  10

0
1
1
2
3
5
8
13
21
34