# Input and Output

## Output Statements

To display the output or results python provides the print() function .

### The print() statement

#### The print("string") statement

In [1]:
print("Hello")

Hello

In [2]:
print("This is the \nfirst line")

This is the
first line

In [3]:
print("This is the \tfirst line")

This is the 	first line

In [4]:
print("This is the \\tfirst line")

This is the \tfirst line

In [8]:
print(3*'Sohail')

SohailSohailSohail

In [11]:
print("City name="+"Kolkata")

City name=Kolkata

In [12]:
print("City name=","Kolkata")

City name= Kolkata

#### The print(variable list) Statement

In [16]:
a , b = 2 , 4
print(a,b)

2 4

In [17]:
print(a,b , sep=',')

2,4

In [18]:
print(a,b , sep=':')

2:4

In [21]:
print(a,b , sep='---')

2---4

#### The print(object)statement

In [22]:
list = [ 10 , ' A' , ' num']
print(list)

[10, ' A', ' num']

In [23]:
d = {'idly':30.00 , 'Roti' : 45.00 , 'Chappati' : 55.50}
print(d)

{'idly': 30.0, 'Roti': 45.0, 'Chappati': 55.5}

#### The print ("string", variable list) statement

In [25]:
a = 10
print("I typed" , a , "as input")

I typed 10 as input

#### The print(formatted string) statement

In [26]:
x = 10
print("value = %i" % x)

value = 10

In [27]:
x , y = 10, 15
print('x = %i y = %d ' %(x,y))

x = 10 y = 15

In [29]:
name = 'Ansari'
print('Sohail %s' % name)

Sohail Ansari

In [30]:
print('Sohail(%20s)' % name)

Sohail(              Ansari)

In [31]:
print('Sohail(%-20s)' % name)

Sohail(Ansari              )

In [34]:
name = 'Sohail'
print('Ansari %c, %c ,%c' %(name[0],name[1],name[2]))

Ansari S, o ,h

In [36]:
print('Ansari %s' %(name[0:3]))

Ansari Soh

In [37]:
num = 123.456789
print('The value is : %f'%num)

The value is : 123.456789

In [43]:
print('The value is : %2.3f'%num)

The value is : 123.457

In [44]:
n1 , n2 , n3 = 1,2,3
print('number1={0}'.format(n1))

number1=1

In [48]:
n1 , n2 , n3 = 1,2,3
print('number1={0},number2={1},number3={2}'.format(n1,n2,n3))

number1=1,number2=2,number3=3

In [49]:
n1 , n2 , n3 = 1,2,3
print('number1={1},number2={0},number3={2}'.format(n1,n2,n3))

number1=2,number2=1,number3=3

In [50]:
name , salary = 'Sohail',3000000.50
print('Hello {0} , your salary is  {1}'.format(name,salary))

Hello Sohail , your salary is  3000000.5

In [51]:
name , salary = 'Sohail',3000000.50
print('Hello {n} , your salary is  {s}'.format(n = name, s = salary))

Hello Sohail , your salary is  3000000.5

In [54]:
name , salary = 'Sohail',3000000.50
print('Hello {:s} , your salary is  {:.2f}'.format(name, salary))

Hello Sohail , your salary is  3000000.50

In [57]:
name , salary = 'Sohail',3000000.50
print('Hello %s , your salary is  %.2f'%(name, salary))

Hello Sohail , your salary is  3000000.50

## Input Statements

In [58]:
str = input()

 sohail

In [59]:
print(str)

sohail

In [61]:
str1 = input ('Enter your name : ')

Enter your name :  sohail

In [62]:
print(str1)

sohail

In [63]:
str2 = input('Enter a number : ')

Enter a number :  1234

In [64]:
x = int(str2)
print(x)

1234

In [65]:
x = int(input('Enter a number : '))
print(x)

Enter a number :  12345

12345

In [66]:
x = float(input('Enter a number : '))
print(x)

Enter a number :  1234.5678

1234.5678

In [68]:
# Python program to accept a string from keyboard and display it.

str = input("Enter a string: ")
print('You entered : ',str)

Enter a string:  Sohail

You entered :  Sohail

In [69]:
# Python program to accept a character as a string
ch = input("Enter a char : ")
print("You Entered : " +ch)

Enter a char :  Sohail

You Entered : Sohail

In [71]:
# Python program to accept a single character from keyboard

ch = input('Enter a char : ')
print("You Entered : " +ch[0:2])

Enter a char :  Sohail

You Entered : So

In [74]:
# A python program to accept an integer number from keyword
str = input('Enter a number:')
x = int(str)
print('You Enetered: ' , x)

Enter a number: 12345

You Enetered:  12345

In [77]:
# Python program to accept an integer number from keyword 

x = int(input("Enter a number : " ))
print("You Entered a number ", x)

Enter a number :  123456789

You Entered a number  123456789

In [78]:
# Python program to accept an float number from keyword 

x = float(input("Enter a number : " ))
print("You Entered a number ", x)

Enter a number :  12345.678

You Entered a number  12345.678

In [83]:
# Python program to accept two integer number from keyword 

x = int(input("Enter a number : " ))
y = int(input("Enter a number : " ))

print("You Entered a number : ", x , y)

Enter a number :  1234
Enter a number :  5678

You Entered a number :  1234 5678

In [88]:
x = int(input("Enter a number : " ))
y = int(input("Enter a number : " ))

print("You Entered a number : ", x , y , sep = ',')

Enter a number :  1234
Enter a number :  5678

You Entered a number : ,1234,5678

In [86]:
x = int(input("Enter a number : " ))
y = int(input("Enter a number : " ))

print("You Entered a number :  %d , %d" %(x,y))

Enter a number :  1234
Enter a number :  5678

You Entered a number :  1234 , 5678

In [92]:
# Python programme to accept two numbers and find their sum
x  = int(input('input(Enter first number'))
y  = int(input('input(Enter second number'))
print('The sum of ' , x ,'and', y , 'is' , x+y)
print('The sum of {} and {} is {}'.format(x,y,x+y))

input(Enter first number 10
input(Enter second number 20

The sum of  10 and 20 is 30
The sum of 10 and 20 is 30

In [93]:
# Python programme to accept two numbers and find their sum and product
x  = int(input('input(Enter first number'))
y  = int(input('input(Enter second number'))
print('The sum of ' , x ,'and', y , 'is' , x+y)
print('The sum of {} and {} is {}'.format(x,y,x*y))

input(Enter first number 10
input(Enter second number 20

The sum of  10 and 20 is 30
The sum of 10 and 20 is 200

In [95]:
# Python program to convert numbers form others systems into decimal number system

s1 = input('Enter hexadecimal number : ')
n1 = int(s1 , 16)
print('Hexadecimal to decimal = ',n)

s2 = input('Enter octal number : ')
n2 = int(s2 , 8)
print('Octal to decimal = ',n2)

s3 = input('Enter binary number : ')
n3 = int(s3,2)
print('Binary to decimal = ' , n3)

Enter hexadecimal number :  12

Hexadecimal to decimal =  20

Enter octal number :  10

Octal to decimal =  8

Enter binary number :  1101

Binary to decimal =  13

In [99]:
# Python program to accept 3 integers in the same line and display thier sum

var1 , var2 , var3 = [int(x) for x in input("Enter three numbers: ").split()]
print('Sum = ',var1 + var2 + var3)

Enter three numbers:  10 5 25

Sum =  40

In [102]:
var1 , var2 , var3 = [int(x) for x in input("Enter three numbers: ").split(',')]
print('Sum = ',var1 + var2 + var3)

Enter three numbers:  10 , 20 , 30

Sum =  60

In [103]:
# Python program to accept a group of strings separated by commas in the same line and display them.

list = [ x for x in input('Enter strings : ').split(',')]
print('I Entered :\n',list)

Enter strings :  sohail ,  Ansari , Md

I Entered :
 ['sohail ', '  Ansari ', ' Md']

In [105]:
# eval() function

a,b = 4 ,6
result = eval("a+b+6")
print(result)

16

In [106]:
x = eval(input("Enter an expression : "))
print("Result = %d"%x)

Enter an expression :  10+4+6

Result = 20

In [110]:
list = eval(input("Enter a list: "))
print("List = ",list)

Enter a list:  "Sohail", "Ansari","Md"

List =  ('Sohail', 'Ansari', 'Md')

In [111]:
# Python program to accept tuple
tpl = eval(input("Enter a tuple : "))
print("Tuple = ",tpl)

Enter a tuple :  10 , 20 , 30 , 40

Tuple =  (10, 20, 30, 40)